/* *{background: aliceblue; }*/
div{
    /* display:inline; */
    align-content: center;
    width: auto;
    margin: 5px;
}
.searchForm{
      display:inline;
      align-content: center;
      width: fit-content;
      margin: 5px;
}
input{
    width: auto;
    border-radius: 5px;
    width: auto;
    /* box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.1); */
    box-shadow: 2px 2px 5px 2px #ccc;
}

button{
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.links{
    background-color: blue;
    border: none;
    color: white;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


li,ul{
    /* padding: 5px; */
    list-style-type: none;
    text-decoration: none;
}
table{
    /* margin-top: 100px; */
    font-size: 20px;
    border-spacing: 0;
    border: 1px solid black;
    /* display:inline-block; */
    width:100%;
    align-items: center;
    align-content: center;
    justify-content: center;
}
thead{
    margin:0;

}
.results{
    align-content: center;
    text-align: center;
    display: inline-block;
    /* padding: 5px; */
    margin:60px;
    /* color:blueviolet; */
    /* font-size: 28px; */
    /* color: #000; */
    flex-direction: column;
    justify-content: center;
}

tr{ 
      border-bottom: 0;
    }


th,
td {
  /* margin: 0; */
  padding: 0.5rem;
  width: 100px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;

    /* border-right: 0; */
}

.container{
    width: 100%;
    height: 100%;
}

.container{
    font-size: 28px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2D9BF0;
    text-align: center;
}
h1{
    background-color: #2D9BF0;
}


.overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
  }
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left:50%;
    position: fixed;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 5px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    cursor: pointer;
    color: #2D9BF0;
  }
  .popup .content {
    max-height: 100%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px) {
    .popup {
      width: 100%;
    }
  }